@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap");

.main-page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: "Spectral", serif;
  margin-top: 1rem;
}

.sub-title {
  font-family: "Spectral", serif;
  font-size: large !important;
  font-weight: 600 !important;
  text-align: center;
  margin-top: 2rem;
}

.group-buttons > * {
  margin: 5rem 1rem;
}
