.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.form {
  margin-top: 1.5rem;
}

.form > * {
  margin-top: 0.5rem;
}

.checkbox {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.checkbox > * {
  margin-top: 6px;
}

.button-display {
  margin-top: 2rem;
}

.show-more {
  font-weight: 500;
}

.button > * {
  margin-right: 5px;
}
